<p>
  DigitalOcean linked: {{ loggedUser.digitalocean_token ? 'Yes' : 'No' }}<br>

  <a [href]="[details.url]" target="_blank" *ngIf="!loggedUser.do_id">Login</a>
  <a href="#" target="_self" onclick="return false" *ngIf="loggedUser.digitalocean_token" (click)="logout()">Logout</a>
</p>
