<div class="loader" *ngIf="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<div class="row" *ngIf="!loader">
  <div class="col-md-4" *ngFor="let host of hosts; index as host_key">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ host.name }}</h5>
        <span *ngIf="host.droplet">Droplet: {{ host.droplet.name }}<br></span>
        <span *ngIf="host.user">User: {{ host.user.name }}<br></span>
        <div class="buttons">
          <div class="btn-group mt-3">
            <button class="btn btn-sm btn-warning" (click)="openHost(content, host, host_key)"><span class="fa fa-pencil"></span> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="removeHost(host, host_key)"><span class="fa fa-minus"></span> Remove</button>
          </div>

          <button class="btn btn-sm btn-success" (click)="openVhost(vhost_content, host, host_key)"><span class="fa fa-plus"></span></button>
        </div>
      </div>

      <ul class="list-group text-dark">
        <li class="list-group-item bg-light" *ngFor="let vhost of host.vhosts; index as vhost_key">
          {{ vhost.server_name }} <i *ngIf="vhost.server_alias && vhost.server_alias !== vhost.server_name">({{ vhost.server_alias}})</i>
          <div class="btn-group float-right">
            <div class="btn btn-sm btn-warning" (click)="openVhost(vhost_content, host, host_key, vhost, vhost_key)"><span class="fa fa-pencil"></span></div>
            <div class="btn btn-sm btn-danger" (click)="removeVhost(host, vhost, vhost_key)"><span class="fa fa-times"></span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-block btn-success" (click)="openHost(content)"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<!-- Host Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ selectedHost.id ? selectedHost.name : 'New host' }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedHost.name">
      </div>
      <div class="form-group">
        <label class="control-label">Site name</label>
        <input class="form-control" [(ngModel)]="selectedHost.site_name">
      </div>
      <div class="form-group">
        <label class="control-label">WWW Dir</label>
        <input class="form-control" [(ngModel)]="selectedHost.www_dir">
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">Droplet</label>
        <select class="form-control" [(ngModel)]="selectedHost.droplet_id">
          <option *ngFor="let droplet of droplets" value="{{ droplet.id }}">{{ droplet.name }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">User</label>
        <select class="form-control" [(ngModel)]="selectedHost.user_id">
          <option [ngValue]="null">{{ selectedHost.id ? 'No user' : 'Select user' }}</option>
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveHost()">Save changes</button>
  </div>
</ng-template>

<!-- VHost Modal -->
<ng-template #vhost_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ selectedVhost.id ? selectedVhost.server_name : 'New vHost' }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Server name</label>
        <input class="form-control" [(ngModel)]="selectedVhost.server_name">
      </div>
      <div class="form-group">
        <label class="control-label">Server alias</label>
        <input class="form-control" [(ngModel)]="selectedVhost.server_alias">
      </div>
      <div class="form-group">
        <label class="control-label">Server admin</label>
        <input class="form-control" [(ngModel)]="selectedVhost.server_admin">
      </div>
      <div class="form-group">
        <label class="control-label">Document root</label>
        <input class="form-control" [(ngModel)]="selectedVhost.document_root">
      </div>
      <div class="form-group">
        <label class="control-label">Access log</label>
        <input class="form-control" [(ngModel)]="selectedVhost.access_log">
      </div>
      <div class="form-group">
        <label class="control-label">Error log</label>
        <input class="form-control" [(ngModel)]="selectedVhost.error_log">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveVhost()">Save changes</button>
  </div>
</ng-template>


