<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">Home</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" [routerLink]="['account']" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ loggedUser ? loggedUser.name : '' }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" routerLink="/logout">Logout</a>
      </div>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar bg-secondary">
      <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item" [routerLinkActive]="['active']">
          <a class="bd-toc-link text-white" [routerLink]="['droplets']">Droplets</a>
        </div>
        <div class="bd-toc-item" [routerLinkActive]="['active']">
          <a class="bd-toc-link text-white" [routerLink]="['domains']">Domains</a>
          <ul class="nav bd-sidenav">
            <li [routerLinkActive]="['active']"><a class="text-white" href="#" [routerLink]="['records']">Records</a></li>
          </ul>
        </div>
        <div class="bd-toc-item" [routerLinkActive]="['active']">
          <a class="bd-toc-link text-white" [routerLink]="['hosts']">Hosts</a>
        </div>
        <div class="bd-toc-item" [routerLinkActive]="['active']">
          <a class="bd-toc-link text-white" [routerLink]="['users']">Users</a>
        </div>
      </nav>
    </div>

    <div class="d-none d-xl-block col-xl-2 bd-toc bg-dark text-white">
      <ul class="section-nav">
        <li class="toc-entry toc-h2"><a href="#quick-start">Quick start</a>
          <ul>
            <li class="toc-entry toc-h3"><a href="#css">CSS</a></li>
            <li class="toc-entry toc-h3"><a href="#js">JS</a></li>
          </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#starter-template">Starter template</a></li>
        <li class="toc-entry toc-h2"><a href="#important-globals">Important globals</a>
          <ul>
            <li class="toc-entry toc-h3"><a href="#html5-doctype">HTML5 doctype</a></li>
            <li class="toc-entry toc-h3"><a href="#responsive-meta-tag">Responsive meta tag</a></li>
            <li class="toc-entry toc-h3"><a href="#box-sizing">Box-sizing</a></li>
            <li class="toc-entry toc-h3"><a href="#reboot">Reboot</a></li>
          </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#community">Community</a></li>
      </ul>
    </div>

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bg-light">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
