<div class="container">
  <div class="col-md-4 offset-md-4 mt-5">
    <div class="alert alert-danger" *ngIf="invalid">
      {{ error_message }}
    </div>

    <form (ngSubmit)="login()">
      <h3 class="text-center">Log in</h3>
      <div class="form-group">
        <input placeholder="Username" class="form-control" [(ngModel)]="username" name="username" autofocus>
      </div>
      <div class="form-group">
        <input placeholder="Password" class="form-control" [(ngModel)]="password" name="password" type="password">
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
