<div class="loader" *ngIf="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<div class="row" *ngIf="!loader">
  <div class="col-md-4" *ngFor="let user of users; index as user_key">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        Email: {{ user.email | default }}<br>
        <div class="btn-group mt-3">
          <button class="btn btn-warning" (click)="openUser(content, user, user_key)"><span class="fa fa-pencil"></span> Edit</button>
          <button class="btn btn-danger" (click)="removeUser(user, user_key)"><span class="fa fa-minus"></span> Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-block btn-success" (click)="openUser(content)"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedUser.name">
      </div>
      <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" [(ngModel)]="selectedUser.email">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveUser()">Save changes</button>
  </div>
</ng-template>
