<div class="loader" *ngIf="loader">
<svg class="circular" viewBox="25 25 50 50">
  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
</svg>
</div>

<div class="row" *ngIf="!loader">
  <div class="col-md-4" *ngFor="let droplet of droplets; index as droplet_key">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ droplet.name }}</h5>
        Host: {{ droplet.host | default }}<br>
        CPU: {{ droplet.vcpus | default }}<br>
        IP: {{ droplet.server_ip | default }}<br>
        Floating IP: {{ droplet.floating_ip | default }}<br>
        RAM: {{ droplet.memory | default }}<br>
        Disk: {{ droplet.disk | default }}<br>
        <span *ngIf="droplet.user">User: {{ droplet.user.name }}<br></span>
        <div class="btn-group mt-3">
          <button class="btn btn-warning" (click)="openDroplet(content, droplet, droplet_key)"><span class="fa fa-pencil"></span> Edit</button>
          <button class="btn btn-danger" (click)="removeDroplet(droplet, droplet_key)"><span class="fa fa-minus"></span> Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-block btn-success" (click)="openDroplet(content)"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ selectedDroplet.id ? selectedDroplet.name : 'New droplet'}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.name">
      </div>
      <div class="form-group">
        <label class="control-label">Hostname</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.host">
      </div>
      <div class="form-group">
        <label class="control-label">Server IP</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.server_ip">
      </div>
      <div class="form-group">
        <label class="control-label">Floating IP</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.floating_ip">
      </div>
      <div class="form-group">
        <label class="control-label">SSH Port</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.ssh_port">
      </div>
      <div class="form-group">
        <label class="control-label">SSH Username</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.ssh_user">
      </div>
      <div class="form-group">
        <label class="control-label">SSH Password</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.ssh_pass">
      </div>
      <div class="form-group">
        <label class="control-label">DO Droplet ID</label>
        <input class="form-control" [(ngModel)]="selectedDroplet.do_id">
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">User</label>
        <select class="form-control" [(ngModel)]="selectedDroplet.user_id">
          <option [ngValue]="null">{{ selectedDroplet.id ? 'No user' : 'Select user' }}</option>
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveDroplet()">Save changes</button>
  </div>
</ng-template>
