<div class="loader" *ngIf="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<div class="row" *ngIf="!loader">
  <div class="col-md-4" *ngFor="let record of records; index as record_key">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ record.name }}</h5>
        <span *ngIf="record.domain">Domain: {{ record.domain.name }}<br></span>
        <span *ngIf="record.user">User: {{ record.user.name }}<br></span>

        <div class="btn-group mt-3">
          <button class="btn btn-warning" (click)="openRecord(content, record, record_key)"><span class="fa fa-pencil"></span> Edit</button>
          <button class="btn btn-danger" (click)="removeRecord(record, record_key)"><span class="fa fa-minus"></span> Remove</button>
        </div>
      </div>

      <!--<ul class="list-group">-->
        <!--<li class="list-group-item" *ngFor="let vhost of host.vhosts">{{ vhost.record.name }}</li>-->
      <!--</ul>-->
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-block btn-success" (click)="openRecord(content)"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ selectedRecord.id ? selectedRecord.name : 'New record' }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedRecord.name">
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control" [(ngModel)]="selectedRecord.type">
          <option [selected]="!selectedRecord.type" disabled>Select type</option>
          <option [selected]="selectedRecord.type === 'A'">A</option>
          <option [selected]="selectedRecord.type === 'A'">CNAME</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Data</label>
        <input class="form-control" [(ngModel)]="selectedRecord.data">
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">Domain</label>
        <select class="form-control" [(ngModel)]="selectedRecord.domain_id">
          <option *ngFor="let domain of domains" value="{{ domain.id }}">{{ domain.name }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">User</label>
        <select class="form-control" [(ngModel)]="selectedRecord.user_id">
          <option [ngValue]="null">{{ selectedRecord.id ? 'No user' : 'Select user' }}</option>
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveRecord()">Save changes</button>
  </div>
</ng-template>
