<div class="loader" *ngIf="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<div class="row" *ngIf="!loader">
  <div class="col-md-4" *ngFor="let domain of domains; index as domain_key">
    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ domain.name }}</h5>
        TTL: {{ domain.ttl | default }}<br>
        <span *ngIf="domain.user">User: {{ domain.user.name }}<br></span>
        <div class="btn-group mt-3">
        </div>
        <div class="buttons">
          <div class="btn-group mt-3">
            <button class="btn btn-warning" (click)="openDomain(content, domain, domain_key)"><span class="fa fa-pencil"></span> Edit</button>
            <button class="btn btn-danger" (click)="removeDomain(domain, domain_key)"><span class="fa fa-minus"></span> Remove</button>
          </div>

          <button class="btn btn-sm btn-success" (click)="openRecord(record_content, domain, domain_key)"><span class="fa fa-plus"></span></button>
        </div>
      </div>

      <ul class="list-group text-dark">
        <li class="list-group-item bg-light" *ngFor="let record of domain.records; index as record_key">
          {{ record.name }} <i>({{ record.type}})</i>
          <div class="btn-group float-right">
            <div class="btn btn-sm btn-warning" (click)="openRecord(record_content, domain, domain_key, record, record_key)"><span class="fa fa-pencil"></span></div>
            <div class="btn btn-sm btn-danger" (click)="removeRecord(domain, record, record_key)"><span class="fa fa-times"></span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <button class="btn btn-block btn-success" (click)="openDomain(content)"><span class="fa fa-plus"></span> Add</button>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ selectedDomain.id ? selectedDomain.name : 'New domain' }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedDomain.name">
      </div>
      <div class="form-group">
        <label class="control-label">TTL</label>
        <input class="form-control" [(ngModel)]="selectedDomain.ttl">
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">User</label>
        <select class="form-control" [(ngModel)]="selectedDomain.user_id">
          <option [ngValue]="null">{{ selectedDomain.id ? 'No user' : 'Select user' }}</option>
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveDomain()">Save changes</button>
  </div>
</ng-template>


<!-- Modal -->
<ng-template #record_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ selectedRecord.id ? selectedRecord.name : 'New record' }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" [(ngModel)]="selectedRecord.name">
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control" [(ngModel)]="selectedRecord.type" (change)="recordTypeChanged()">
          <option [selected]="!selectedRecord.type" disabled>Select type</option>
          <option [selected]="selectedRecord.type === 'A'">A</option>
          <option [selected]="selectedRecord.type === 'CNAME'">CNAME</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Data</label>
        <input class="form-control" [(ngModel)]="selectedRecord.data" [disabled]="selectedRecord.type === 'CNAME'">
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">Domain</label>
        <select class="form-control" [(ngModel)]="selectedRecord.domain_id" disabled>
          <option *ngFor="let domain of domains" value="{{ domain.id }}">{{ domain.name }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="loggedUser.level == 1">
        <label class="control-label">User</label>
        <select class="form-control" [(ngModel)]="selectedRecord.user_id">
          <option [ngValue]="null">{{ selectedRecord.id ? 'No user' : 'Select user' }}</option>
          <option *ngFor="let user of users" value="{{ user.id }}">{{ user.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveRecord()">Save changes</button>
  </div>
</ng-template>
